OPENAI_API_KEY=
OPENAI_BASE_URL=
LANGSMITH_API_KEY=
LANGSMITH_TRACING="true"
LANGSMITH_PROJECT="distributed-tracing"
# if on EU instance, otherwise leave commented out
#LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
